.coffee-body h1 {
  padding-top: 1em;
  text-align: center;
  font-weight: bold;
}

/* .wrapper {
  display: flex;
} */

.column-container {
  display: flex;
  flex-wrap: wrap;
}
.column {
  height: 30em;
  min-width: 90%;
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: calc(100vh - 40px);
}
.container.left {
  /* margin-top: 25px;
  margin-left: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-header {
  font-size: 25px;
  position: relative;
  background-color: white;
  top: 8px;
}
#big_coffee {
  user-select: none;
  font-size: 20em;
  cursor: pointer;
}

.counter-container {
  font-size: 30px;
  margin: 10px;
}

.cps-container {
  font-size: 20px;
}

#producer_container {
  padding: 10px;
  overflow: auto;
  border: 2px black solid;
  border-radius: 5px;
}

.producer {
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.producer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producer-title {
  font-size: 20px;
}

.producer button {
  text-align: center;
  font-size: 15px;
  width: 50px;
}
