.gol-body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: #444;
}

.gol-body h1 {
  font-weight: normal;
}

#gol-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board {
  border-collapse: collapse;
}

#board td {
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #8cc8dd;
}

#control_panel {
  margin: 10px 0 50px 0;
}

.button {
  padding: 0.85em 0.75em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: #2ba6cb;
  color: #fefefe;
}

.playing {
  background-color: #258dad;
  box-shadow: inset 1px 1px #104858;
}

.button:hover {
  background-color: #258dad;
}

.button:focus {
  outline: none;
}
