.pixel-container {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.pixel-body {
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pix td {
  border: 1px solid #222;
  height: 25px;
  width: 25px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.num-col {
  width: 5em;
}
